@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box{
  width: 200px;
  height:200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color:white;
  font-size: 2.5em;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
}